*.exe
*.pdb
**/build
**/.fingerprint
**/deps
**/incremental
Cargo.lock
.rustc_info.json
hello_cargo/target/.rustc_info.json
.cargo-lock
*.d
CACHEDIR.TAG
**/target/doc
guessing_game/target/.rustdoc_fingerprint.json
